/* 
    Document   : Home
    Created on : Aug 2, 2011, 5:04:57 PM
    Author     : nbanks
    Description:
        Purpose of the stylesheet follows.
*/
div.form-item { 
    display: inline-block;
}
h4 {
    color: #7C7369;
    font-family: Verdana, Arial;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 114%;
    margin: 0;
    padding: 0;
}