/* 
    Document   : search-resuts.css
    Created on : Sep 25, 2012, 9:42:46 AM
    Author     : ppound
    Description:
        Purpose of the stylesheet follows.
*/


/*
* Inline Solr Query filter block
*/

/* Reset default styles */
.islandora-solr-search-query-inline dl {
  margin: 0;
}

.islandora-solr-search-query-inline dt,
.islandora-solr-search-query-inline dd {
  padding:0;
  margin:0;
  display: block;
}

.islandora-solr-search-query-inline li i {
  font-style: normal;
}

/* Set a min-width for terms and set inline */
.islandora-solr-search-query-inline dt {
  clear: left;
  float: left;
  min-width: 7em;
  text-align: right;
}

/* Move definitions over a bit past term width */
.islandora-solr-search-query-inline dd {
  margin-left: 7.5em;
}

/* Horizontal styling for lists in definition lists */
.islandora-solr-search-query-inline dd ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.islandora-solr-search-query-inline dd li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  float: left;
  padding-right: 4px;
}
