/* 
    Document   : scholar
    Created on : Dec 3, 2011, 5:51:49 PM
    Author     : rwincewicz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.scholar_search_title {
    font-size: medium;
}

.scholar_search_citation {
    margin-bottom: 10px;
}

.scholar_search_bookmark {
    float: left;
    margin-right: 8px;
}

.scholar_search_bookmark_text {
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

.scholar_search_related {
    float: left;
    margin-right: 20px;
}

.scholar_pdf {
    float: left;
    margin-right: 15px;
}